<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:c="http://www.springframework.org/schema/c" 
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:jms="http://www.springframework.org/schema/jms" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
						http://www.springframework.org/schema/jms
						http://www.springframework.org/schema/jms/spring-jms.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.1.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
	 					http://www.springframework.org/schema/mvc 
                        http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd"
	default-autowire="byName">
	
	<bean id="testServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">  
       <property name="service" ref="testService"/>  
       <property name="serviceName" value="uri"/>  
       <property name="serviceInterface" value="org.service.TestService"/>  
       <property name="registryPort" value="2016"/>  
    </bean>
    
    <bean name="getRmiService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">  
		<property name="serviceUrl" value="rmi://127.0.0.1:2016/uri"/>  
		<property name="serviceInterface" value="org.service.TestService"/>  
    </bean>	
	
</beans>